body, html{
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: 700;
}
header{
    background-color: #2c3e50;
    height: 100px;
}
.navbar-brand{
    font-size: 30px;
}
a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
nav{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.menu-items a{
    padding: 15px;
    font-size: 16px;
    display: block;
}
.menu-items{
    display: flex;
}
ul{
    list-style: none;
}
.profile img{
    width: 240px;
}
.profile-container{
    background-color: #1abc9c;
    display: flex;
    justify-content: center;
    padding-top: 100px;

}